<form class="converse-currency-form">
  <div class="form-field-from">
    <mat-form-field class="form-field">
      <input
        matInput
        matNativeControl
        type="number"
        #fromInput
        [value]="toInputValue"
        (input)="convertFrom(fromInput.value, fromSelect.value, toSelect.value)"
        class="no-arrows"
      />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-select
        #fromSelect
        [(value)]="selectedFrom"
        (change)="
          convertFrom(fromInput.value, fromSelect.value, toSelect.value)
        "
      >
        <mat-option
          *ngFor="let currencyCode of currencyCodes"
          [value]="currencyCode.value"
        >
          {{ currencyCode.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-field-to">
    <mat-form-field class="form-field">
      <input
        matInput
        matNativeControl
        type="number"
        #toInput
        [value]="fromInputValue"
        (input)="convertTo(fromSelect.value, toInput.value, toSelect.value)"
        class="no-arrows"
      />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-select
        #toSelect
        [(value)]="selectedTo"
        (change)="convertTo(fromSelect.value, toInput.value, toSelect.value)"
      >
        <mat-option
          *ngFor="let currencyCode of currencyCodes"
          [value]="currencyCode.value"
        >
          {{ currencyCode.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
