<div>
  <p>Convert</p>
  <input
    type="number"
    #fromInput
    [value]="toInputValue"
    (input)="convertFrom(fromInput.value, fromSelect.value, toSelect.value)"
  />
  <select name="fromCurrency" #fromSelect>
    <option value="UAH">Ukrainian hryvnia</option>
    <option value="USD">U.S. dollar</option>
    <option value="EUR">Euro</option>
  </select>
  <p>to</p>
  <input
    type="number"
    #toInput
    [value]="fromInputValue"
    (input)="convertTo(fromSelect.value, toInput.value, toSelect.value)"
  />
  <select name="toCurrency" #toSelect>
    <option value="UAH">Ukrainian hryvnia</option>
    <option value="USD">U.S. dollar</option>
    <option value="EUR">Euro</option>
  </select>
</div>
